<ul class="collection archives">
	{% for month,items in archives_data %}
		<li class="collection-item">
			<a href="{{ base_url }}/archives_month{{ config.system.param_sep }}{{ month|date('M_Y')|lower|e('url') }}">
				{% if archives_show_count %}
					<span class="label">{{ items|length }}</span>
				{% endif %}
				<span class="archive_date">{{ month }}</span>
				</a>
		</li>
	{% endfor %}
</ul>
